In [1]:
import pandas as pd

In [ ]:
#################################################### baptims records ####################################################

In [4]:
df = pd.read_excel('2_occupational/3_baptism records/summary_data.xlsx')
df

,Unnamed: 0,file_name,file_id,id,porid,ruid,por,runame,utype,parish,window,numevents,pcs,sr,numyears,iratio,occ,n,adjn
0,0,bed_county_table,1,1,BED/001/rose,BED/001,rose,Ampthill,AP,Ampthill,1813-1820,292,0.00,1.0,8.0,1.0,tailor,9,9.0
1,1,bed_county_table,1,2,BED/001/rose,BED/001,rose,Ampthill,AP,Ampthill,1813-1820,292,0.00,1.0,8.0,1.0,whitesmith,3,3.0
2,2,bed_county_table,1,3,BED/001/rose,BED/001,rose,Ampthill,AP,Ampthill,1813-1820,292,0.00,1.0,8.0,1.0,gamekeeper,3,3.0
3,3,bed_county_table,1,4,BED/001/rose,BED/001,rose,Ampthill,AP,Ampthill,1813-1820,292,0.00,1.0,8.0,1.0,labourer,152,152.0
4,4,bed_county_table,1,5,BED/001/rose,BED/001,rose,Ampthill,AP,Ampthill,1813-1820,292,0.00,1.0,8.0,1.0,draper,4,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135874,135874,ywr_county_table,23,17702,YWR/339/rose,YWR/339,rose,Barnby Dun,AP,Barrnby Dun,1813-1820,169,3.16,1.0,8.0,1.0,other parish - no occupation,1,1.0
135875,135875,ywr_county_table,23,17703,YWR/339/rose,YWR/339,rose,Barnby Dun,AP,Barrnby Dun,1813-1820,169,3.16,1.0,8.0,1.0,innkeeper,2,2.0
135876,135876,ywr_county_table,23,17704,YWR/339/rose,YWR/339,rose,Barnby Dun,AP,Barrnby Dun,1813-1820,169,3.16,1.0,8.0,1.0,butcher,2,2.0
135877,135877,ywr_county_table,23,17705,YWR/339/rose,YWR/339,rose,Barnby Dun,AP,Barrnby Dun,1813-1820,169,3.16,1.0,8.0,1.0,esquire,1,1.0
135878,135878,ywr_county_table,23,17706,YWR/339/rose,YWR/339,rose,Barnby Dun,AP,Barrnby Dun,1813-1820,169,3.16,1.0,8.0,1.0,smith,1,1.0

In [5]:
df.parish.nunique()

3017

In [7]:
len(df.occ.unique()) # wat

9058

In [10]:
df[df.occ == 'esquire'].reset_index()

,index,Unnamed: 0,file_name,file_id,id,porid,ruid,por,runame,utype,parish,window,numevents,pcs,sr,numyears,iratio,occ,n,adjn
0,333,333,bed_county_table,1,334,BED/009/rose,BED/009,rose,Bedford St Mary,AP,Bedford St Mary,1813-1820,140,0.74,1.0,8.0,1.0,esquire,1,1.0
1,881,881,bed_county_table,1,882,BED/016/rose,BED/016,rose,Blunham with Mogerhanger,AP,Blunham with Mogerhanger,1813-1820,275,0.00,1.0,8.0,1.0,esquire,2,2.0
2,1031,1031,bed_county_table,1,1032,BED/020/2,BED/020,2,Campton cum Shefford,AP,Campton cum Shefford,1753-1760,175,3.70,1.0,8.0,1.0,esquire,1,1.0
3,1042,1042,bed_county_table,1,1043,BED/020/1,BED/020,1,Campton cum Shefford,AP,Campton cum Shefford,1698-1705,189,2.67,1.0,8.0,1.0,esquire,2,2.0
4,1611,1611,bed_county_table,1,1612,BED/043/rose,BED/043,rose,Everton,AP,Everton,1813-1820,88,0.00,1.0,8.0,1.0,esquire,2,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
806,135213,135213,ywr_county_table,23,17041,YWR/324/rose,YWR/324,rose,Whixley,AP,Whixley,1813-1820,164,3.23,1.0,8.0,1.0,esquire,2,2.0
807,135355,135355,ywr_county_table,23,17183,YWR/326/2,YWR/326,2,Wickersley,AP,Wickersley,1774-1781,157,1.61,1.0,8.0,1.0,esquire,1,1.0
808,135518,135518,ywr_county_table,23,17346,YWR/332/rose,YWR/332,rose,Worsbrough,CH,Darfield,1813-1820,363,0.60,1.0,8.0,1.0,esquire,2,2.0
809,135563,135563,ywr_county_table,23,17391,YWR/332/1,YWR/332,1,Worsbrough,CH,Darfield,1750-1757,132,1.61,1.0,8.0,1.0,esquire,1,1.0
810,135877,135877,ywr_county_table,23,17705,YWR/339/rose,YWR/339,rose,Barnby Dun,AP,Barrnby Dun,1813-1820,169,3.16,1.0,8.0,1.0,esquire,1,1.0

In [18]:
df.groupby(['parish']).window.nunique().mean()

1.2688100762346701

In [20]:
df.groupby(['parish']).occ.nunique().mean()

33.23268147166059

In [ ]:
#################################################### occupational census ####################################################

In [23]:
raw = pd.read_excel('2_occupational/4_1851 census/1851_census.xlsx', index_col=0)
raw

,town,regcounty,sex,age,occ,n
0,Bath,Somerset,F,0-19,actors and others about theatres,4
1,Bath,Somerset,F,0-19,annuitant,8
2,Bath,Somerset,F,0-19,baker,4
3,Bath,Somerset,F,0-19,bonnet-maker,3
4,Bath,Somerset,F,0-19,bookseller,1
...,...,...,...,...,...,...
38951,York,Yorkshire East Riding with York,M,20+,woollen cloth manufacture,12
38952,York,Yorkshire East Riding with York,M,20+,woollen draper,16
38953,York,Yorkshire East Riding with York,M,20+,woolstapler,2
38954,York,Yorkshire East Riding with York,M,20+,"""workers, dealers, precious stones""",1
38955,York,Yorkshire East Riding with York,M,20+,worsted manufacture,4

In [24]:
dist = pd.read_excel('2_occupational/4_1851 census/1851_census_age-distributions.xlsx', index_col=0)
dist

,regcounty,sex,occ,range,min,max,n
0,Bedfordshire,F,agricultural labourer (outdoor),"""10-14""",10,14,4
1,Bedfordshire,F,agricultural labourer (outdoor),15-19,15,19,7
2,Bedfordshire,F,agricultural labourer (outdoor),20-24,20,24,4
3,Bedfordshire,F,agricultural labourer (outdoor),25-29,25,29,1
4,Bedfordshire,F,agricultural labourer (outdoor),30-34,30,34,1
...,...,...,...,...,...,...,...
186612,Yorkshire West Riding,M,worsted manufacture,70-74,70,74,409
186613,Yorkshire West Riding,M,worsted manufacture,75-79,75,79,177
186614,Yorkshire West Riding,M,worsted manufacture,80-84,80,84,75
186615,Yorkshire West Riding,M,worsted manufacture,85-89,85,89,23
186616,Yorkshire West Riding,M,worsted manufacture,90-94,90,94,2

In [25]:
raw.town.nunique()

72

In [26]:
raw.regcounty.nunique()

34

In [27]:
dist.regcounty.nunique()

42

In [28]:
raw.occ.nunique()

455

In [29]:
dist.occ.nunique()

458

In [30]:
raw.n.sum()

3714777