In [1]:
import os
import requests
import time
from pathlib import Path

# Data manipulation
import pandas as pd
import numpy as np
from IPython.display import display
import json

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

from scipy.stats import gaussian_kde

pd.set_option("display.max_columns", 150)

In [2]:
basedir = Path(r'C:\Users\David\Dropbox\_Pre-Doc\Active_Projects\Eye sight and productivity')
rawdir = basedir / 'Eye sight and productivity_raw' / '3_raw'
stamp = rawdir / 'Stamp tax'
llc = rawdir / 'London_s Livery Companies'

In [3]:
os.listdir(stamp)

['st.docx', 'st.txt', 'st_1710_1810.dta', 'ST_analysis_core.dta']

In [4]:
stamp_df = pd.read_stata(stamp / 'st_1710_1810.dta')

In [5]:
stamp_core_df = pd.read_stata(stamp / 'ST_analysis_core.dta')

C:\Users\David\AppData\Roaming\Python\Python38\site-packages\pandas\io\stata.py:1417: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  warnings.warn(msg, UnicodeWarning)

In [6]:
stamp_df.shape

(515895, 12)

In [7]:
stamp_core_df.shape

(333793, 31)

In [8]:
stamp_df.sample(20)

,new_obs,period,year,apprentice_surname,app_forename,master_surname,master_forename,master_location,location_1,county,trade1,tuitionpounds
38390,195601,1.0,1717.0,Fowler,Cressy,Whitaker,Thos,Furnivalls Inn,,london,gent,130.00
398298,358347,2.0,1787.0,Green,Jn.,Arnold,Wm.,London,London,London,joiner,10.00
129338,163327,1.0,1740.0,Rawson,James,Bonner,William,London,,London,cooper,10.00
434520,357982,2.0,1792.0,Spencer,Jn.,Powell,Tho.,Narrow Wall Lambeth,#VALUE!,London,taylor,5.00
425950,355086,2.0,1791.0,Bullmore,Tho.,Brittain,Edw.,Falkingham in Co Lincolnshire,Falkingham,Lincolnshire,butcher,10.00
209896,126897,1.0,1757.0,Mears,William,Mathews,John,London,,London,butcher,10.00
223099,235641,1.0,1759.0,Wilson,Pet,Newell,Thos,Little Walsingham,,Norfolk,cordwainer,8.00
449,492731,NaN,81.0,Phillips,Wm.,Mathias Junr.,Jos.,Carleff in Co Pembroke,,Wales,Cabinet Maker,12.00
298000,261793,1.0,1771.0,GILHAM,Rob,Bunton,Chas,N Walsham,,,glover,6.00
325805,396198,2.0,1775.0,Griffiths,John,James,Rich.,Aberystwyth Cardiganshire,Aberystwyth,WALES,joiner,10.25
396615,437993,2.0,1787.0,Henderson,Wm.,Dods,Jn.,Crailing,#VALUE!,SCOTLAND,smith,3.00
141572,58459,1.0,1742.0,Slaughter,George,Wilson,Goody,Elstree,,,carpenter,8.00
166012,28163,1.0,1748.0,Kendall,John,Jackson,Richard,,,London,attorney,81.00
445321,469415,2.0,1794.0,Mussellwhite,Ja.,Sheryer,Rich.,Downton Co of Wiltshire,Downton,WILTSHIRE,black smith,10.00
129501,226528,1.0,1740.0,Watson,Jn,Field,David,Kingston/Hull,,Yorkshire,merchant,300.00
507568,515088,NaN,1804.0,H. Sernes,Josh.,Westaway,David,St. Thomas the Apostle in Co Devon,,DEVON,Taylor,20.00
183658,2417,1.0,1753.0,Marchant,John,Hack,James,Alton,,Hampshire,mason,1.00
269365,294211,1.0,1766.0,Thompson,Jn,Beck,Mich,Carlisle,,Cumberland,shoemaker,12.60
74101,202050,1.0,1723.0,Harte,Jn,Moore,Jn,Shandleston,,Suffolk,linen weaver,2.50
46962,131145,1.0,1718.0,Rands,William,Laurence,James,London,,London,cordwainer,4.00

In [9]:
stamp_core_df = (
    stamp_core_df
    .replace('', np.nan, regex=True)
    .replace('no_year', np.nan, regex=True)
    .dropna(subset=['year'])
    .assign(
        named_parent=lambda df: np.where(~df['parent_forename'].isnull(), 'Yes', 'No'),
        year =lambda df: df.year.astype(int)
    )
) 

stamp_names_df = (
    stamp_core_df
    .dropna(subset=['app_forename', 'apprentice_surname', 'parent_forename'])
)

data_names = stamp_names_df['year'].astype(int).sort_values().tolist()
data_orig = stamp_core_df['year'].astype(int).sort_values().tolist()

density = gaussian_kde(data)
xs = np.linspace(min(data),max(data),1000)
density.covariance_factor = lambda : .25
density._compute_covariance()
plt.plot(xs,density(xs))
plt.show()

In [10]:
sns.kdeplot(
   data=stamp_core_df, x="year", hue="named",
   fill=True, common_norm=False, palette="crest",
   alpha=.5, linewidth=0,
)

ValueError: Could not interpret value `named` for parameter `hue`

In [ ]:
xs = np.linspace(0,8,200)